@font-face {
    font-family: "ui-icon";
    src: url('iconfont.eot?t=1529478178736'); /* IE9*/
    src: url('iconfont.eot?t=1529478178736#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.ttf?t=1529478178736') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('iconfont.svg?t=1529478178736#ui-icon') format('svg'); /* iOS 4.1- */
}

.ui-icon {
    font-family: "ui-icon" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-shopping-cart:before {
    content: "\e613";
}

.icon-rate:before {
    content: "\e6b4";
}

.icon-mobile:before {
    content: "\e63f";
}

.icon-search:before {
    content: "\e650";
}

.icon-set:before {
    content: "\e623";
}

.icon-navigation:before {
    content: "\e624";
}

.icon-earnings:before {
    content: "\e627";
}

.icon-guidepost:before {
    content: "\e6f0";
}

.icon-nav-menu:before {
    content: "\e601";
}

.icon-box:before {
    content: "\e694";
}

.icon-close:before {
    content: "\e635";
}

.icon-member:before {
    content: "\e629";
}

.icon-add_new:before {
    content: "\e625";
}

.icon-question:before {
    content: "\e617";
}

.icon-home:before {
    content: "\e677";
}

.icon-sales:before {
    content: "\e634";
}

.icon-top-arrow:before {
    content: "\e7a7";
}

.icon-nav-012:before {
    content: "\e608";
}

.icon-mileage:before {
    content: "\e618";
}

.icon-lock-screen:before {
    content: "\e62a";
}

.icon-eye:before {
    content: "\e60c";
}

.icon-message:before {
    content: "\e605";
}

.icon-arrow-up:before {
    content: "\e63c";
}

.icon-arrow-left:before {
    content: "\e63d";
}

.icon-menu:before {
    content: "\e60d";
}

.icon-entrust:before {
    content: "\e7e0";
}

.icon-nav-013:before {
    content: "\e60f";
}

.icon-edit:before {
    content: "\e621";
}

.icon-crown:before {
    content: "\e62d";
}

.icon-nav-01:before {
    content: "\e62b";
}

.icon-ticket:before {
    content: "\e614";
}

.icon-news:before {
    content: "\e8c0";
}

.icon-chart:before {
    content: "\e67d";
}

.icon-down:before {
    content: "\e610";
}

.icon-information:before {
    content: "\e60e";
}

.icon-date_7:before {
    content: "\e628";
}

.icon-add_user:before {
    content: "\e626";
}

.icon-nav-08:before {
    content: "\e62c";
}

.icon-nav-09:before {
    content: "\e606";
}

.icon-card:before {
    content: "\e673";
}

.icon-nav-06:before {
    content: "\e65b";
}

.icon-equipment:before {
    content: "\e620";
}

.icon-export:before {
    content: "\e61c";
}

.icon-nav-14:before {
    content: "\e68a";
}

.icon-praise:before {
    content: "\e692";
}

.icon-circle:before {
    content: "\e68e";
}

.icon-dot:before {
    content: "\e609";
}

.icon-notice:before {
    content: "\e63e";
}

.icon-nav-03:before {
    content: "\e602";
}

.icon-time:before {
    content: "\e61b";
}

.icon-up:before {
    content: "\e615";
}

.icon-production:before {
    content: "\e6f4";
}

.icon-satisficing03:before {
    content: "\e768";
}

.icon-satisficing02:before {
    content: "\e782";
}

.icon-amass_user:before {
    content: "\e61d";
}

.icon-chrome:before {
    content: "\e619";
}

.icon-quit:before {
    content: "\e6cb";
}

.icon-relation:before {
    content: "\e600";
}

.icon-backlog:before {
    content: "\e61e";
}

.icon-tip:before {
    content: "\e75d";
}

.icon-more:before {
    content: "\e646";
}

.icon-delete:before {
    content: "\e622";
}

.icon-module:before {
    content: "\e91c";
}

.icon-nav-02:before {
    content: "\e60a";
}

.icon-tread:before {
    content: "\e9bd";
}

.icon-code:before {
    content: "\e60b";
}

.icon-nav-04:before {
    content: "\e607";
}

.icon-synthesize:before {
    content: "\e6bb";
}

.icon-firefox:before {
    content: "\e630";
}

.icon-safari:before {
    content: "\e631";
}

.icon-file:before {
    content: "\e604";
}

.icon-earnings2:before {
    content: "\e632";
}

.icon-setting:before {
    content: "\e61f";
}

.icon-storage:before {
    content: "\e718";
}

.icon-personnel:before {
    content: "\e63b";
}

.icon-mail:before {
    content: "\e6b6";
}

.icon-date_icon:before {
    content: "\e66e";
}

.icon-resource:before {
    content: "\e65d";
}

.icon-add:before {
    content: "\e612";
}

.icon-date:before {
    content: "\e655";
}

.icon-tabbar:before {
    content: "\e6e2";
}

.icon-ie:before {
    content: "\e638";
}

.icon-switchover:before {
    content: "\e66b";
}

.icon-note:before {
    content: "\e890";
}

.icon-indent:before {
    content: "\e662";
}

.icon-nav-07:before {
    content: "\e61a";
}

.icon-check:before {
    content: "\e616";
}

.icon-nav-10:before {
    content: "\e611";
}

.icon-livelihood:before {
    content: "\e62e";
}

.icon-satisficing01:before {
    content: "\e6d2";
}

.icon-nav-05:before {
    content: "\e603";
}

.icon-pc:before {
    content: "\e64e";
}

.icon-date_31:before {
    content: "\da";
}

.icon-expend:before {
    content: "\e710";
}

.icon-decline:before {
    content: "\e8c1";
}

.icon-consumable:before {
    content: "\ea5d";
}

.icon-arrow-right:before {
    content: "\ea5e";
}

.icon-arrow-down:before {
    content: "\ea5f";
}